{%extends "./base.html" %}
{% block title %}Gestion Turnos{% endblock %}
{%block body%}

<form>
    <h1>Contacto</h1>
    <div class="mb-3">
    <div class="mb-3">
    <label for="exampleInputNombre" class="form-label">{{dni}}</label>
    <input type="nombre" class="form-control" id="exampleInputNombre">
  </div>
  <div class="mb-3">
    <div class="mb-3">
    <label for="exampleInputNombre" class="form-label">Nombre</label>
    <input type="nombre" class="form-control" id="exampleInputNombre">
  </div>
    <label for="exampleInputEmail" class="form-label">Email</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">Tu información no será compartida.</div>
  </div>

  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <a href="https://www.facebook.com/" target="_blank">
  <button>Enviar correo</button>
</a>
</form>
  {%endblock%} 