{%extends "./base.html" %}
{% block title %}Gestion Turnos{% endblock %}
{%block body%}

<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        <h2>Gestion de Turnos</h2>
        <div class="card">
            <div class="card-body">
                <form action="/registrarTurno/" method="POST">{%csrf_token%}
          <div class="form-group">
                        <input type="text" id="codigo" name="codigo" value="{{Turno.codigo}}" class="form-control" placeholder="Codigo"  required >
                    </div>
                    <div class="form-group">
                        <input type="text" id="dni" name="dni" value="{{Turno.dni}}" class="form-control" placeholder="dni" required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="descripcion" name="descripcion" value="{{Turno.descripcion}}" class="form-control" placeholder="Descripcion" required>
                    </div>    
                    <div class="form-group">
                        <input type="number" id="precio" name="precio" value="{{Turno.precio}}" class="form-control" placeholder="Precio" required>
                    </div>    
                    <div class="form-group">
                        <input type="date" id="fecha" name="fecha" value="{{Turno.fecha}}" class="form-control" placeholder="Fecha" required>
                    </div>
                               

                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block text-white">Cargar Turno</button>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
        <h1>
            Listado de Turnos
        </h1>
        <div class="table-responsive py-2">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Codigo</th>
                        <th>DNI</th>
                        <th>Descripcion</th>
                        <th>Precio</th>
                        <th>Vencimiento</th>
                    </tr>
                </thead>
                <tbody>
                    {%for t in turnos%}
                    <tr>
                        <td>{{t.codigo}}</td>
                        <td>{{t.dni}}</td>
                        <td>{{t.descripcion}}</td>
                        <td>{{t.precio}}</td>
                        <td>{{t.fecha}}</td>
                        <td><a href="/edicionTurno/{{t.codigo}}"class="btn btn-info">Editar</a></td>
                        <td><a href="/borrarTurno/{{t.codigo}}"class="btn btn-danger">Eliminar</a></td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>  
        </div>
    </div>
</div>
{%endblock%}    
